@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-family-serif: "Atkinson", Georgia, serif;
}

@layer base {
	body {
		font-family: var(--font-family-serif);
	}
}
